body{
    background-color: aquamarine;
}

#name{
    background: peachpuff;
    margin-left: 43%;
    width: 200px;
    display: inline-block;    
    
}
#return{
    margin-top:0%;
    margin-left: 44%;
    display: inline-block

}
h1,h3{
    text-align: center;

}
button{
    background-color: black;
    color: white;
    width: 90px;
    border-radius: 10%;

}
button:hover{
    background-color: red;
}
#texto{
    text-align: center;

}